# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.off
*.old
.DS_Store

# building
target
/build
/dist
/test

# Eclipse
.classpath
.project
.settings

# IDEA
.idea
*.iml
*.ipr
*.iws
/target
/eclipse/
